html {
    font-size: 10px;
}


.wrapper {
    background-color: grey;
    width: 100%;
    height: 86.9rem;
    margin: 0 auto;
    padding-top: 100px;
}


.slider {
    width: 70rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 1rem;
    background-color: red;
    margin: 0 auto;
}

.slider_content {
    width: 400%;
    height: 100%;
    transition: all .6s ease;
    display: flex;
}

.navigation{
    display: flex;
    width: 70rem;
    height: 10rem;
    margin: 0 auto;
    padding-top: 2.5rem;
}

.navigation_button {
    box-sizing: border-box;
    width: 20rem;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
}

.button_label {
    display: block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    background-color: aqua;
    border-radius: 100%;
    border: solid 0.2rem aqua;
}

input[name= 'r'] {
    position: fixed;
    visibility: hidden;
}

.text_container {
    overflow: hidden;
    width: 40rem;
    height: 3rem;
}

.text {
    color: white;
    width: 25%;
    font-size: 2rem;
}

.text_container_content {
    width: 400%;
    height: 100%;
    display: flex;
    transition: all .6s ease;
}

.radius {
    width: 100%;
}

.navigation_slider_text{
    width: 50rem;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}
.mem {
    width: 25%;
    height: 100%;
}

.visitable {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: -0.75rem;
    left: -0.75rem;
}

.button_label:hover  {
    background-color: white;
    border: solid 0.2rem white;
}

#r1:checked ~ .s0 .s1 {
    margin-left: 0;
}

#r2:checked ~ .s0 .s1{
    margin-left: -100%;
}

#r3:checked ~ .s0 .s1 {
    margin-left: -200%;
}

#r4:checked ~ .s0 .s1 {
    margin-left: -300%;
}

#r1:checked ~ .s2 .s3 .s4 .s5 {
    margin-left: 0;
}
#r2:checked ~ .s2 .s3 .s4 .s5 {
    margin-left: -100%;

}
#r3:checked ~ .s2 .s3 .s4 .s5 {
    margin-left: -200%;

}
#r4:checked ~ .s2 .s3 .s4 .s5 {
    margin-left: -300%;
}


#r1:checked ~ .c1 .c2 .c3  {
    background-color: white;
}
#r2:checked ~ .c1 .c2 .c4   {
    background-color: white;

}
#r3:checked ~ .c1 .c2 .c5  {
    background-color: white;

}
#r4:checked ~ .c1 .c2 .c6  {
    background-color: white;
}

